[Unit]
Description=Janus WebRTC Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/janus/janus.sh
Restart=on-abnormal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
