[Unit]
Description=Janus WebRTC Server
Wants=janus-stream.service
After=janus-stream.service

[Service]
Type=simple
ExecStart=/opt/janus/janus.sh
Restart=on-abnormal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
